/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[5].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"app/fonts/spaceGrotesk.ts","import":"","arguments":[{"src":[{"path":"./SpaceGrotesk-Bold.woff2","weight":"900","style":"normal"},{"path":"./SpaceGrotesk-Bold.woff2","weight":"900","style":"italic"},{"path":"./SpaceGrotesk-Bold.woff2","weight":"700","style":"normal"},{"path":"./SpaceGrotesk-Bold.woff2","weight":"700","style":"italic"},{"path":"./SpaceGrotesk-Light.woff2","weight":"300","style":"normal"},{"path":"./SpaceGrotesk-Light.woff2","weight":"300","style":"italic"},{"path":"./SpaceGrotesk-Medium.woff2","weight":"500","style":"normal"},{"path":"./SpaceGrotesk-Medium.woff2","weight":"500","style":"italic"},{"path":"./SpaceGrotesk-Regular.woff2","weight":"600","style":"normal"},{"path":"./SpaceGrotesk-Regular.woff2","weight":"600","style":"italic"},{"path":"./SpaceGrotesk-Bold.woff2","weight":"800","style":"normal"},{"path":"./SpaceGrotesk-Light.woff2","weight":"200","style":"normal"},{"path":"./SpaceGrotesk-Light.woff2","weight":"400","style":"italic"}]}],"variableName":"spaceGrotesk"} ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__spaceGrotesk_6e45d9';
src: url(/_next/static/media/5f515bcadd82fbbd-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 900;
font-style: normal;
}

@font-face {
font-family: '__spaceGrotesk_6e45d9';
src: url(/_next/static/media/5f515bcadd82fbbd-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 900;
font-style: italic;
}

@font-face {
font-family: '__spaceGrotesk_6e45d9';
src: url(/_next/static/media/5f515bcadd82fbbd-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: '__spaceGrotesk_6e45d9';
src: url(/_next/static/media/5f515bcadd82fbbd-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 700;
font-style: italic;
}

@font-face {
font-family: '__spaceGrotesk_6e45d9';
src: url(/_next/static/media/ef46db3751d8e999-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 300;
font-style: normal;
}

@font-face {
font-family: '__spaceGrotesk_6e45d9';
src: url(/_next/static/media/ef46db3751d8e999-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 300;
font-style: italic;
}

@font-face {
font-family: '__spaceGrotesk_6e45d9';
src: url(/_next/static/media/18f45dc7b59efb67-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 500;
font-style: normal;
}

@font-face {
font-family: '__spaceGrotesk_6e45d9';
src: url(/_next/static/media/18f45dc7b59efb67-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 500;
font-style: italic;
}

@font-face {
font-family: '__spaceGrotesk_6e45d9';
src: url(/_next/static/media/17f05e50789190f8-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: '__spaceGrotesk_6e45d9';
src: url(/_next/static/media/17f05e50789190f8-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 600;
font-style: italic;
}

@font-face {
font-family: '__spaceGrotesk_6e45d9';
src: url(/_next/static/media/5f515bcadd82fbbd-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 800;
font-style: normal;
}

@font-face {
font-family: '__spaceGrotesk_6e45d9';
src: url(/_next/static/media/ef46db3751d8e999-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 200;
font-style: normal;
}

@font-face {
font-family: '__spaceGrotesk_6e45d9';
src: url(/_next/static/media/ef46db3751d8e999-s.p.woff2) format('woff2');
font-display: swap;
font-weight: 400;
font-style: italic;
}.__className_6e45d9 {font-family: '__spaceGrotesk_6e45d9'
}

